@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

.logo {
    position: fixed;
    top: 0.7rem;
    z-index: 999;
    left: 11rem;
}

.logo>a>img {
    height: 4.8rem;
}

.main_nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 10px 0px #00000040;
    background-color: white;
    z-index: 900;
}

.main_nav>ul>li {
    display: inline-flex;
    padding: 0 4rem 0 4rem;
}

.nav_link {
    all: unset;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    color: #49494991;
    font-weight: 500;
    cursor: pointer;
}

.nav_link:hover {
    color: black;
    transition: ease-in-out;
    transition-duration: 400ms;
}

.active {
    color: black;
}