@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.event_card {
    display: flex;
    gap: 7%;
    align-items: center;
    justify-content: center;
    padding: 10rem 10rem 1rem 15rem;
}

.event_img {
    width: 100rem;
    min-height: 25rem;
    object-fit: contain;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.event_des {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event_title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 5rem;
}

.event_description {
    font-family: Rubik;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
}